@import "../common.module.less";

.main {
  background: var(--theme-bg-color);
  padding: @padding !important;
}
.buttonWrapper {
  display: flex;
  justify-content: space-around;
}
.col {
  display: flex;
  align-items: center;
  .item { margin: 0; }
}
