@font-face {
  font-family: "iconfont"; /* Project id 3194065 */
  src: url('iconfont.woff2?t=1650178754702') format('woff2'),
       url('iconfont.woff?t=1650178754702') format('woff'),
       url('iconfont.ttf?t=1650178754702') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-userCoupon:before {
  content: "\e6c2";
}

.icon-alipay:before {
  content: "\e87c";
}

.icon-bitDance:before {
  content: "\e8db";
}

.icon-right:before {
  content: "\e84e";
}

.icon-left:before {
  content: "\e84f";
}

.icon-holiday:before {
  content: "\e89e";
}

.icon-coupon:before {
  content: "\e60e";
}

.icon-insurance:before {
  content: "\e677";
}

.icon-category:before {
  content: "\e653";
}

.icon-log:before {
  content: "\e602";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-brand:before {
  content: "\e617";
}

.icon-config:before {
  content: "\e63f";
}

.icon-car:before {
  content: "\e75f";
}

.icon-order:before {
  content: "\e62a";
}

.icon-password:before {
  content: "\e6a9";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-youhuiquan:before {
  content: "\e764";
}

.icon-kefu:before {
  content: "\e65a";
}

.icon-dengchu:before {
  content: "\e620";
}

.icon-weizhangshigujilu:before {
  content: "\e635";
}

.icon-shenfenzheng:before {
  content: "\e614";
}

.icon-fapiao:before {
  content: "\e6ab";
}

.icon-lianxiren:before {
  content: "\e618";
}

.icon-tousu:before {
  content: "\e638";
}

.icon-balance:before {
  content: "\e619";
}

.icon-wechat:before {
  content: "\e61d";
}

.icon-kaojiazhao:before {
  content: "\e691";
}

.icon-tousupingjia:before {
  content: "\e616";
}

.icon-hetong:before {
  content: "\e674";
}

.icon-nav:before {
  content: "\e640";
}

